In [80]:
from random import random
import numpy as np
import pygame
import sqlite3
import pandas as pd
import time
from PyDictionary import PyDictionary
pygame.init()

con = sqlite3.connect("database.db")
conold = sqlite3.connect("database_old1.db")

In [81]:
pd.read_sql_query('select game_id, count(game_id) from keys_typed group by game_id', con)

       game_id  count(game_id)
0   2094541913             220
1   2769402107             348
2   3240419914              22
3   3701467168               8
4   4593746653              19
5   5645483826             281
6   5916786024               4
7   6009647323               7
8   6826919150             428
9   6863449350             350
10  6969433375              77
11  7401357469              25
12  7536433734             206
13  7817031233               4
14  7874534443               4
15  7982296858               7
16  8347726996              76
17  8882671311             371
18  9054866305             198
19  9499252453               7
20  9700946137               9

In [85]:
# pd.read_sql_query('select game_id, count(game_id) from keys_typed group by 1', con)#.query('game_id == 8882671311')
query = """
with tbl1 as (
select
    key
    , lead(key) over(partition by game_id order by game_id, time) following_key
    , time
    , lead(time) over(partition by game_id order by game_id, time) following_time
    , game_id

from keys_typed
where 1=1
    and correct = 1
    --and game_id in (3701467168, 5916786024)

)

select 
    key || '-' || following_key as key_combination
    , avg(following_time - time) as time_diff
    , count(*) count

from tbl1
where 1=1
    and 'space' not in (key, following_key)
    and following_key is not null
group by 1
having 1=1
    and count(*) > 40
order by time_diff asc
"""

pd.read_sql_query(query, con).head(20)

  key_combination  time_diff  count
0             o-n   0.160720     57
1             i-n   0.166899     50
2             r-e   0.181939     48
3             t-i   0.193085     41
4             e-r   0.200556     46

In [89]:
# pd.read_sql_query('select game_id, count(game_id) from keys_typed group by 1', con)#.query('game_id == 8882671311')
query = """
with tbl1 as (
select
    key
    , lead(key) over(partition by game_id order by game_id, time) following_key
    , time
    , lead(time) over(partition by game_id order by game_id, time) following_time
    , game_id

from keys_typed
where 1=1
    and correct = 1
    --and game_id in (3701467168, 5916786024)

)

select 
    key || '-' || following_key as key_combination
    , avg(following_time - time) as time_diff
    , count(*) count

from tbl1
where 1=1
    and 'space' not in (key, following_key)
    and following_key is not null
group by 1
having 1=1
    and count(*) > 10
order by time_diff desc
"""

pd.read_sql_query(query, con).head(20)

   key_combination  time_diff  count
0              a-r   0.414646     21
1              n-g   0.410792     22
2              o-m   0.389994     14
3              a-c   0.381489     14
4              p-o   0.372829     11
5              o-r   0.358634     26
6              t-r   0.352468     15
7              l-l   0.328911     15
8              u-r   0.310158     11
9              e-c   0.306715     11
10             i-t   0.304747     15
11             c-i   0.302734     12
12             e-s   0.298945     22
13             l-y   0.284202     19
14             s-e   0.268152     18
15             r-i   0.264547     16
16             i-c   0.263575     25
17             s-t   0.249540     31
18             e-a   0.249463     23
19             c-e   0.245385     25

In [90]:
pd.read_sql_query(query, con).tail(20)

   key_combination  time_diff  count
47             r-y   0.182922     12
48             a-n   0.182497     26
49             r-e   0.181939     48
50             p-e   0.179284     14
51             a-l   0.178712     32
52             e-n   0.177285     32
53             f-i   0.175217     13
54             n-d   0.174813     16
55             n-s   0.169921     12
56             s-s   0.167004     13
57             i-n   0.166899     50
58             n-a   0.165022     13
59             o-n   0.160720     57
60             d-i   0.155821     12
61             i-e   0.154203     11
62             c-h   0.143000     17
63             n-e   0.142221     23
64             t-h   0.139044     13
65             l-e   0.129631     19
66             c-o   0.113353     28

In [69]:
df = pd.read_json('/Users/marclamy/Downloads/typing-data (2).json')
df['time'] = df['time'] / 1000

In [70]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(df[['length', 'time', 'errors']], df['speed'])
model.score(df[['length', 'time', 'errors']], df['speed'])

0.9219377330563562

In [72]:
model.intercept_, model.coef_

(202.87879686319644, array([ 1.27523277, -4.22258501, -0.20564769]))

In [68]:
model.intercept_

202.87879686319636

In [74]:
s = '''the_wide_aunt_known_gain_when_surages_and_cons-ther_but.
and_willins_withough-probable_own_sure_atten_chall.her_
wood-rece_and_what.the_she_you_here_him_fetc_sortle_witch_
oblight'''
len([x for x in s if x.isalpha()])

144

In [ ]:
[144, ]

In [2]:
import sqlite3a
con = sqlite3.connect("database.db")

In [21]:
con = sqlite3.connect("database.db")
pd.DataFrame({'key': ['a'], 'time': [time.time()]}).to_sql('keys_typed', con, if_exists='append', index=False)

1

In [20]:
for _ in tqdm(range(100000)):
    con = sqlite3.connect("database.db")
    pd.DataFrame({'key': ['a'], 'time': [time.time()]}).to_sql('keys_typed', con, if_exists='append', index=False)

 63%|██████▎   | 63357/100000 [00:44<00:25, 1432.24it/s]

KeyboardInterrupt:

In [30]:
%%timeit -n 10000

df = pd.DataFrame([123, 2, 3])
df.assign(multi=1)

120 µs ± 2.36 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [31]:
%%timeit -n 10000

df = pd.DataFrame([123, 2, 3])
df["multi"] = 1

108 µs ± 1.08 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [33]:
%%timeit -n 50000

scalar = 2
df = pd.DataFrame({"Month": ["Jan", "Feb", "Mar"], "Volume": [i*scalar for i in [1,2,3]]}).assign(multi=1)

139 µs ± 444 ns per loop (mean ± std. dev. of 7 runs, 50,000 loops each)

In [35]:
%%timeit -n 50000

scalar = 2
df = pd.DataFrame({"Month": ["Jan", "Feb", "Mar"], "Volume": [i*scalar for i in [1,2,3]]})
df["multi"] = scalar

124 µs ± 1.36 µs per loop (mean ± std. dev. of 7 runs, 50,000 loops each)

In [43]:
df = pd.read_fwf("https://github.com/dwyl/english-words/blob/master/words_alpha.txt", header=None)
df

                                                    0    1    ...  972  973
0                                       <!DOCTYPE html>  NaN  ...  NaN  NaN
1     <html lang="en" data-color-mode="auto" data-li...  NaN  ...  NaN  NaN
2                                                <head>  NaN  ...  NaN  NaN
3                                <meta charset="utf-8">  NaN  ...  NaN  NaN
4     <link rel="dns-prefetch" href="https://github....  NaN  ...  NaN  NaN
...                                                 ...  ...  ...  ...  ...
1065                                  </clipboard-copy>  NaN  ...  NaN  NaN
1066                                             </div>  NaN  ...  NaN  NaN
1067                                        </template>  NaN  ...  NaN  NaN
1068                                            </body>  NaN  ...  NaN  NaN
1069                                            </html>  NaN  ...  NaN  NaN

[1070 rows x 974 columns]

In [48]:
with open('data/words.txt') as file: 
    text = file.read().split('\n')

text

['a',
 'aa',
 'aaa',
 'aah',
 'aahed',
 'aahing',
 'aahs',
 'aal',
 'aalii',
 'aaliis',
 'aals',
 'aam',
 'aani',
 'aardvark',
 'aardvarks',
 'aardwolf',
 'aardwolves',
 'aargh',
 'aaron',
 'aaronic',
 'aaronical',
 'aaronite',
 'aaronitic',
 'aarrgh',
 'aarrghh',
 'aaru',
 'aas',
 'aasvogel',
 'aasvogels',
 'ab',
 'aba',
 'ababdeh',
 'ababua',
 'abac',
 'abaca',
 'abacay',
 'abacas',
 'abacate',
 'abacaxi',
 'abaci',
 'abacinate',
 'abacination',
 'abacisci',
 'abaciscus',
 'abacist',
 'aback',
 'abacli',
 'abacot',
 'abacterial',
 'abactinal',
 'abactinally',
 'abaction',
 'abactor',
 'abaculi',
 'abaculus',
 'abacus',
 'abacuses',
 'abada',
 'abaddon',
 'abadejo',
 'abadengo',
 'abadia',
 'abadite',
 'abaff',
 'abaft',
 'abay',
 'abayah',
 'abaisance',
 'abaised',
 'abaiser',
 'abaisse',
 'abaissed',
 'abaka',
 'abakas',
 'abalation',
 'abalienate',
 'abalienated',
 'abalienating',
 'abalienation',
 'abalone',
 'abalones',
 'abama',
 'abamp',
 'abampere',
 'abamperes',
 'abamps',
 'aband',
 'abandon',
 'abandonable',
 'abandoned',
 'abandonedly',
 'abandonee',
 'abandoner',
 'abandoners',
 'abandoning',
 'abandonment',
 'abandonments',
 'abandons',
 'abandum',
 'abanet',
 'abanga',
 'abanic',
 'abannition',
 'abantes',
 'abapical',
 'abaptiston',
 'abaptistum',
 'abarambo',
 'abaris',
 'abarthrosis',
 'abarticular',
 'abarticulation',
 'abas',
 'abase',
 'abased',
 'abasedly',
 'abasedness',
 'abasement',
 'abasements',
 'abaser',
 'abasers',
 'abases',
 'abasgi',
 'abash',
 'abashed',
 'abashedly',
 'abashedness',
 'abashes',
 'abashing',
 'abashless',
 'abashlessly',
 'abashment',
 'abashments',
 'abasia',
 'abasias',
 'abasic',
 'abasing',
 'abasio',
 'abask',
 'abassi',
 'abassin',
 'abastard',
 'abastardize',
 'abastral',
 'abatable',
 'abatage',
 'abate',
 'abated',
 'abatement',
 'abatements',
 'abater',
 'abaters',
 'abates',
 'abatic',
 'abating',
 'abatis',
 'abatised',
 'abatises',
 'abatjour',
 'abatjours',
 'abaton',
 'abator',
 'abators',
 'abattage',
 'abattis',
 'abattised',
 'abattises',
 'abattoir',
 'abattoirs',
 'abattu',
 'abattue',
 'abatua',
 'abature',
 'abaue',
 'abave',
 'abaxial',
 'abaxile',
 'abaze',
 'abb',
 'abba',
 'abbacy',
 'abbacies',
 'abbacomes',
 'abbadide',
 'abbaye',
 'abbandono',
 'abbas',
 'abbasi',
 'abbasid',
 'abbassi',
 'abbasside',
 'abbate',
 'abbatial',
 'abbatical',
 'abbatie',
 'abbe',
 'abbey',
 'abbeys',
 'abbeystead',
 'abbeystede',
 'abbes',
 'abbess',
 'abbesses',
 'abbest',
 'abbevillian',
 'abby',
 'abbie',
 'abboccato',
 'abbogada',
 'abbot',
 'abbotcy',
 'abbotcies',
 'abbotnullius',
 'abbotric',
 'abbots',
 'abbotship',
 'abbotships',
 'abbott',
 'abbozzo',
 'abbr',
 'abbrev',
 'abbreviatable',
 'abbreviate',
 'abbreviated',
 'abbreviately',
 'abbreviates',
 'abbreviating',
 'abbreviation',
 'abbreviations',
 'abbreviator',
 'abbreviatory',
 'abbreviators',
 'abbreviature',
 'abbroachment',
 'abc',
 'abcess',
 'abcissa',
 'abcoulomb',
 'abd',
 'abdal',
 'abdali',
 'abdaria',
 'abdat',
 'abderian',
 'abderite',
 'abdest',
 'abdicable',
 'abdicant',
 'abdicate',
 'abdicated',
 'abdicates',
 'abdicating',
 'abdication',
 'abdications',
 'abdicative',
 'abdicator',
 'abdiel',
 'abditive',
 'abditory',
 'abdom',
 'abdomen',
 'abdomens',
 'abdomina',
 'abdominal',
 'abdominales',
 'abdominalia',
 'abdominalian',
 'abdominally',
 'abdominals',
 'abdominoanterior',
 'abdominocardiac',
 'abdominocentesis',
 'abdominocystic',
 'abdominogenital',
 'abdominohysterectomy',
 'abdominohysterotomy',
 'abdominoposterior',
 'abdominoscope',
 'abdominoscopy',
 'abdominothoracic',
 'abdominous',
 'abdominovaginal',
 'abdominovesical',
 'abduce',
 'abduced',
 'abducens',
 'abducent',
 'abducentes',
 'abduces',
 'abducing',
 'abduct',
 'abducted',
 'abducting',
 'abduction',
 'abductions',
 'abductor',
 'abductores',
 'abductors',
 'abducts',
 'abe',
 'abeam',
 'abear',
 'abearance',
 'abecedaire',
 'abecedary',
 'abecedaria',
 'abecedarian',
 'abecedarians',
 'abecedaries',
 'abecedarium',
 'abecedarius',
 'abed',
 'abede',
 'abedge',
 'abegge',
 'abey',
 'abeyance',
 'abeyances',
 'abeyancy',
 'abeyancies',
 'abeyant',
 'abeigh',
 'abel',
 'abele',
 'abeles',
 'abelia',
 'abelian',
 'abelicea',
 'abelite',
 'abelmoschus',
 'abelmosk',
 'abelmosks',
 'abelmusk',
 'abelonian',
 'abeltree',
 'abencerrages',
 'abend',
 'abends',
 'abenteric',
 'abepithymia',
 'aberdavine',
 'aberdeen',
 'aberdevine',
 'aberdonian',
 'aberduvine',
 'aberia',
 'abernethy',
 'aberr',
 'aberrance',
 'aberrancy',
 'aberrancies',
 'aberrant',
 'aberrantly',
 'aberrants',
 'aberrate',
 'aberrated',
 'aberrating',
 'aberration',
 'aberrational',
 'aberrations',
 'aberrative',
 'aberrator',
 'aberrometer',
 'aberroscope',
 'aberuncate',
 'aberuncator',
 'abesse',
 'abessive',
 'abet',
 'abetment',
 'abetments',
 'abets',
 'abettal',
 'abettals',
 'abetted',
 'abetter',
 'abetters',
 'abetting',
 'abettor',
 'abettors',
 'abevacuation',
 'abfarad',
 'abfarads',
 'abhenry',
 'abhenries',
 'abhenrys',
 'abhinaya',
 'abhiseka',
 'abhominable',
 'abhor',
 'abhorred',
 'abhorrence',
 'abhorrences',
 'abhorrency',
 'abhorrent',
 'abhorrently',
 'abhorrer',
 'abhorrers',
 'abhorrible',
 'abhorring',
 'abhors',
 'abhorson',
 'aby',
 'abib',
 'abichite',
 'abidal',
 'abidance',
 'abidances',
 'abidden',
 'abide',
 'abided',
 'abider',
 'abiders',
 'abides',
 'abidi',
 'abiding',
 'abidingly',
 'abidingness',
 'abie',
 'abye',
 'abiegh',
 'abience',
 'abient',
 'abies',
 'abyes',
 'abietate',
 'abietene',
 'abietic',
 'abietin',
 'abietineae',
 'abietineous',
 'abietinic',
 'abietite',
 'abiezer',
 'abigail',
 'abigails',
 'abigailship',
 'abigeat',
 'abigei',
 'abigeus',
 'abying',
 'abilao',
 'abilene',
 'abiliment',
 'abilitable',
 'ability',
 'abilities',
 'abilla',
 'abilo',
 'abime',
 'abintestate',
 'abiogeneses',
 'abiogenesis',
 'abiogenesist',
 'abiogenetic',
 'abiogenetical',
 'abiogenetically',
 'abiogeny',
 'abiogenist',
 'abiogenous',
 'abiology',
 'abiological',
 'abiologically',
 'abioses',
 'abiosis',
 'abiotic',
 'abiotical',
 'abiotically',
 'abiotrophy',
 'abiotrophic',
 'abipon',
 'abir',
 'abirritant',
 'abirritate',
 'abirritated',
 'abirritating',
 'abirritation',
 'abirritative',
 'abys',
 'abysm',
 'abysmal',
 'abysmally',
 'abysms',
 'abyss',
 'abyssa',
 'abyssal',
 'abysses',
 'abyssinia',
 'abyssinian',
 'abyssinians',
 'abyssobenthonic',
 'abyssolith',
 'abyssopelagic',
 'abyssus',
 'abiston',
 'abit',
 'abitibi',
 'abiuret',
 'abject',
 'abjectedness',
 'abjection',
 'abjections',
 'abjective',
 'abjectly',
 'abjectness',
 'abjoint',
 'abjudge',
 'abjudged',
 'abjudging',
 'abjudicate',
 'abjudicated',
 'abjudicating',
 'abjudication',
 'abjudicator',
 'abjugate',
 'abjunct',
 'abjunction',
 'abjunctive',
 'abjuration',
 'abjurations',
 'abjuratory',
 'abjure',
 'abjured',
 'abjurement',
 'abjurer',
 'abjurers',
 'abjures',
 'abjuring',
 'abkar',
 'abkari',
 'abkary',
 'abkhas',
 'abkhasian',
 'abl',
 'ablach',
 'ablactate',
 'ablactated',
 'ablactating',
 'ablactation',
 'ablaqueate',
 'ablare',
 'ablastemic',
 'ablastin',
 'ablastous',
 'ablate',
 'ablated',
 'ablates',
 'ablating',
 'ablation',
 'ablations',
 'ablatitious',
 'ablatival',
 'ablative',
 'ablatively',
 'ablatives',
 'ablator',
 'ablaut',
 'ablauts',
 'ablaze',
 'able',
 'abled',
 'ableeze',
 'ablegate',
 'ablegates',
 'ablegation',
 'ablend',
 'ableness',
 'ablepharia',
 'ablepharon',
 'ablepharous',
 'ablepharus',
 'ablepsy',
 'ablepsia',
 'ableptical',
 'ableptically',
 'abler',
 'ables',
 'ablesse',
 'ablest',
 'ablet',
 'ablewhackets',
 'ably',
 'ablings',
 'ablins',
 'ablock',
 'abloom',
 'ablow',
 'ablude',
 'abluent',
 'abluents',
 'ablush',
 'ablute',
 'abluted',
 'ablution',
 'ablutionary',
 'ablutions',
 'abluvion',
 'abmho',
 'abmhos',
 'abmodality',
 'abmodalities',
 'abn',
 'abnaki',
 'abnegate',
 'abnegated',
 'abnegates',
 'abnegating',
 'abnegation',
 'abnegations',
 'abnegative',
 'abnegator',
 'abnegators',
 'abner',
 'abnerval',
 'abnet',
 'abneural',
 'abnormal',
 'abnormalcy',
 'abnormalcies',
 'abnormalise',
 'abnormalised',
 'abnormalising',
 'abnormalism',
 'abnormalist',
 'abnormality',
 'abnormalities',
 'abnormalize',
 'abnormalized',
 'abnormalizing',
 'abnormally',
 'abnormalness',
 'abnormals',
 'abnormity',
 'abnormities',
 'abnormous',
 'abnumerable',
 'abo',
 'aboard',
 'aboardage',
 'abobra',
 'abococket',
 'abodah',
 'abode',
 'aboded',
 'abodement',
 'abodes',
 'abody',
 'aboding',
 'abogado',
 'abogados',
 'abohm',
 'abohms',
 'aboideau',
 'aboideaus',
 'aboideaux',
 'aboil',
 'aboiteau',
 'aboiteaus',
 'aboiteaux',
 'abolete',
 'abolish',
 'abolishable',
 'abolished',
 'abolisher',
 'abolishers',
 'abolishes',
 'abolishing',
 'abolishment',
 'abolishments',
 'abolition',
 'abolitionary',
 'abolitionise',
 'abolitionised',
 'abolitionising',
 'abolitionism',
 'abolitionist',
 'abolitionists',
 'abolitionize',
 'abolitionized',
 'abolitionizing',
 'abolla',
 'abollae',
 'aboma',
 'abomas',
 'abomasa',
 'abomasal',
 'abomasi',
 'abomasum',
 'abomasus',
 'abomasusi',
 'abominability',
 'abominable',
 'abominableness',
 'abominably',
 'abominate',
 'abominated',
 'abominates',
 'abominating',
 'abomination',
 'abominations',
 'abominator',
 'abominators',
 'abomine',
 'abondance',
 'abongo',
 'abonne',
 'abonnement',
 'aboon',
 'aborad',
 'aboral',
 'aborally',
 'abord',
 'aboriginal',
 'aboriginality',
 'aboriginally',
 'aboriginals',
 'aboriginary',
 'aborigine',
 'aborigines',
 'aborning',
 'aborsement',
 'aborsive',
 'abort',
 'aborted',
 'aborter',
 'aborters',
 'aborticide',
 'abortient',
 'abortifacient',
 'abortin',
 'aborting',
 'abortion',
 'abortional',
 'abortionist',
 'abortionists',
 'abortions',
 'abortive',
 'abortively',
 'abortiveness',
 'abortogenic',
 'aborts',
 'abortus',
 'abortuses',
 'abos',
 'abote',
 'abouchement',
 'aboudikro',
 'abought',
 'aboulia',
 'aboulias',
 'aboulic',
 'abound',
 'abounded',
 'abounder',
 'abounding',
 'aboundingly',
 'abounds',
 'about',
 'abouts',
 'above',
 'aboveboard',
 'abovedeck',
 'aboveground',
 'abovementioned',
 'aboveproof',
 'aboves',
 'abovesaid',
 'abovestairs',
 'abow',
 'abox',
 'abp',
 'abr',
 'abracadabra',
 'abrachia',
 'abrachias',
 'abradable',
 'abradant',
 'abradants',
 'abrade',
 'abraded',
 'abrader',
 'abraders',
 'abrades',
 'abrading',
 'abraham',
 'abrahamic',
 'abrahamidae',
 'abrahamite',
 'abrahamitic',
 'abray',
 'abraid',
 'abram',
 'abramis',
 'abranchial',
 'abranchialism',
 'abranchian',
 'abranchiata',
 'abranchiate',
 'abranchious',
 'abrasax',
 'abrase',
 'abrased',
 'abraser',
 'abrash',
 'abrasing',
 'abrasiometer',
 'abrasion',
 'abrasions',
 'abrasive',
 'abrasively',
 'abrasiveness',
 'abrasives',
 'abrastol',
 'abraum',
 'abraxas',
 'abrazite',
 'abrazitic',
 'abrazo',
 'abrazos',
 'abreact',
 'abreacted',
 'abreacting',
 'abreaction',
 'abreactions',
 'abreacts',
 'abreast',
 'abreed',
 'abrege',
 'abreid',
 'abrenounce',
 'abrenunciate',
 'abrenunciation',
 'abreption',
 'abret',
 'abreuvoir',
 'abri',
 'abrico',
 'abricock',
 'abricot',
 'abridgable',
 'abridge',
 'abridgeable',
 'abridged',
 'abridgedly',
 'abridgement',
 'abridgements',
 'abridger',
 'abridgers',
 'abridges',
 'abridging',
 'abridgment',
 'abridgments',
 'abrim',
 'abrin',
 'abrine',
 'abris',
 'abristle',
 'abroach',
 'abroad',
 'abrocoma',
 'abrocome',
 'abrogable',
 'abrogate',
 'abrogated',
 'abrogates',
 'abrogating',
 'abrogation',
 'abrogations',
 'abrogative',
 'abrogator',
 'abrogators',
 'abroma',
 'abronia',
 'abrood',
 'abrook',
 'abrosia',
 'abrosias',
 'abrotanum',
 'abrotin',
 'abrotine',
 'abrupt',
 'abruptedly',
 'abrupter',
 'abruptest',
 'abruptio',
 'abruption',
 'abruptiones',
 'abruptly',
 'abruptness',
 'abrus',
 'abs',
 'absalom',
 'absampere',
 'absaroka',
 'absarokite',
 'abscam',
 'abscess',
 'abscessed',
 'abscesses',
 'abscessing',
 'abscession',
 'abscessroot',
 'abscind',
 'abscise',
 'abscised',
 'abscises',
 'abscising',
 'abscisins',
 'abscision',
 'absciss',
 'abscissa',
 'abscissae',
 'abscissas',
 'abscisse',
 'abscissin',
 'abscission',
 'abscissions',
 'absconce',
 'abscond',
 'absconded',
 'abscondedly',
 'abscondence',
 'absconder',
 'absconders',
 'absconding',
 'absconds',
 'absconsa',
 'abscoulomb',
 'abscound',
 'absee',
 'absey',
 'abseil',
 'abseiled',
 'abseiling',
 'abseils',
 'absence',
 'absences',
 'absent',
 'absentation',
 'absented',
 'absentee',
 'absenteeism',
 'absentees',
 'absenteeship',
 'absenter',
 'absenters',
 'absentia',
 'absenting',
 'absently',
 'absentment',
 'absentminded',
 'absentmindedly',
 'absentmindedness',
 'absentness',
 'absents',
 'absfarad',
 'abshenry',
 'absi',
 'absinth',
 'absinthe',
 'absinthes',
 'absinthial',
 'absinthian',
 'absinthiate',
 'absinthiated',
 'absinthiating',
 'absinthic',
 'absinthiin',
 'absinthin',
 'absinthine',
 'absinthism',
 'absinthismic',
 'absinthium',
 'absinthol',
 'absinthole',
 'absinths',
 'absyrtus',
 'absis',
 'absist',
 'absistos',
 'absit',
 'absmho',
 'absohm',
 'absoil',
 'absolent',
 'absolute',
 'absolutely',
 'absoluteness',
 'absoluter',
 'absolutes',
 'absolutest',
 'absolution',
 'absolutions',
 'absolutism',
 'absolutist',
 'absolutista',
 'absolutistic',
 'absolutistically',
 'absolutists',
 'absolutive',
 ...]